* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    background: #ba9bbc82;
    color: #333;
  }
  
  /* Sidebar */
  .sidebar {
    width: 260px;
    background: #7a2d3ab8;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidebar h2 {
    font-size: 1.4rem;
    margin-bottom: 30px;
   
  }
  
  .nav-item {
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .nav-item:hover {
    background: #4b4d50;
  }
  
  /* Main Content */
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  /* Header */
  header {
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid #e5e7eb;
  }
  
  header h1 {
    font-size: 1.3rem;
  }
  
  .user {
    font-size: 0.9rem;
    color: #555;
  }
  
  /* Chat Area */
  .chat-container {
    flex: 1;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
  }
  
  .messages {
    flex: 1;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 15px;
  }
  
  .message {
    margin-bottom: 12px;
  }
  
  .message.user {
    text-align: right;
    color: #2563eb;
  }
  
  .message.ai {
    text-align: left;
    color: #111827;
  }
  
  /* Input */
  .chat-textarea {
     margin-top: 20px;
     margin-bottom: 20px;  
    display: flex;
   
  }
  
  .chat-textarea textarea {
    flex: 1;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 1rem;
  }
  .chat-input {
    display: flex;
    gap: 10px;
  }
  
  .chat-input input {
    flex: 1;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 1rem;
  }
  
  .chat-input button {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    background: #2563eb;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background: #1d4ed8;
  }
  .login-btn {
  width: 100%;
  padding: 12px;
  background: #7a2d3a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  }
  
  /* Footer */
  footer {
    height: 50px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    color: #6b7280;
    border-top: 1px solid #e5e7eb;
  }
  .chat_output {
      margin-top: 20px;
  }
  #output {
      margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  height: 100px;
  }
  